/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SLIDER */
.slider {
    width: 60%;
    height: 50%;
    display: flex;
}

/* Images container */
.big-image-container {
    width: 80%;
    height: 100%;
}

.thumbs {
    width: 18%;
    height: 100%;
    position: relative;
}

.single-image {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.single-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-image-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 90%;
    text-align: right;
    color: white;
}

.single-thumb {
    width: 100%;
    height: 20%;
    filter: brightness(50%);
}

.single-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-thumb.active {
    filter: brightness(1);
    border: 2px solid #cbcbcb;
}

/* Arrows */
.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background-color: rgba(250, 250, 250, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.arrow.prev {
    top: 10px;
}

.arrow.next {
    bottom: 10px;
}